USE [master]
GO
/****** Object:  Database [LayoffsDB]    Script Date: 14-03-2025 21:13:43 ******/
CREATE DATABASE [LayoffsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LayoffsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER_TUSH\MSSQL\DATA\LayoffsDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LayoffsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER_TUSH\MSSQL\DATA\LayoffsDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LayoffsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LayoffsDB]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 14-03-2025 21:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[Company] [nvarchar](255) NULL,
	[Location_HQ] [nvarchar](100) NULL,
	[Industry] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[layoffs_data]    Script Date: 14-03-2025 21:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[layoffs_data](
	[Company] [nvarchar](255) NULL,
	[Location_HQ] [nvarchar](100) NULL,
	[Industry] [nvarchar](100) NULL,
	[Laid_Off_Count] [int] NULL,
	[Date] [date] NULL,
	[Source] [nvarchar](500) NULL,
	[Funds_Raised] [decimal](18, 2) NULL,
	[Stage] [nvarchar](100) NULL,
	[Date_Added] [datetime] NULL,
	[Country] [nvarchar](100) NULL,
	[Percentage] [decimal](5, 2) NULL,
	[List_of_Employees_Laid_Off] [nvarchar](500) NULL,
	[CompanyID] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Layoffs_Company]    Script Date: 14-03-2025 21:13:43 ******/
CREATE NONCLUSTERED INDEX [IDX_Layoffs_Company] ON [dbo].[layoffs_data]
(
	[Company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Layoffs_Country]    Script Date: 14-03-2025 21:13:43 ******/
CREATE NONCLUSTERED INDEX [IDX_Layoffs_Country] ON [dbo].[layoffs_data]
(
	[Country] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Layoffs_Date]    Script Date: 14-03-2025 21:13:43 ******/
CREATE NONCLUSTERED INDEX [IDX_Layoffs_Date] ON [dbo].[layoffs_data]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
